<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
  <div class="container" style="text-align:left">
    <form (ngSubmit)="onSubmit()" #squareForm="ngForm">
      <div class="form-group">
        <label for="length">Length in meter</label>
        <input
          type="number"
          class="form-control"
          id="length"
          required
          [(ngModel)]="aLenght"
          name="length"
          #length="ngModel"
        />
        <div
          [hidden]="length.valid || length.pristine"
          class="alert alert-danger"
        >
          Lenght is required
        </div>
      </div>
      <div class="form-group">
        <label for="width">Width in meter</label>
        <input
          type="number"
          class="form-control"
          id="width"
          required
          [(ngModel)]="aWidth"
          name="width"
          #width="ngModel"
        />
        <div
          [hidden]="width.valid || width.pristine"
          class="alert alert-danger"
        >
          Width is required
        </div>
      </div>

      <button
        [disabled]="!squareForm.valid"
        type="submit"
        class="btn btn-success"
      >
        Submit
      </button>
    </form>

    <hr />
    <div [hidden]="!submitted">
      <label for="result"
        >You will need to purchase {{ liter }} liter of paint to cover
        {{ squareMeter }} square meter.</label
      >
    </div>
  </div>
</div>
